.feature {
  padding: 5rem;
}

.feature__h2 {
  font-size: 2.5em;
  text-align: center;
}

.code__p {
  text-align: justify;
  font-size: 1.3em;
}

.navbar.navbar-9 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');

}


.navbar_hamburger{
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}
